 body {
      font-family: Arial, sans-serif;
      text-align: center;
      background-position: center;             
      background-repeat: no-repeat;            
      background-size: cover;                 
      background-attachment: fixed; 
      margin: 0;
      padding: 0;
    }
      body nav{
        background-color: aliceblue;
        padding: 10px;
    }

    header {
      background-color: hotpink;
      color: white;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }

    header img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }

    nav ul {
      list-style: none;
      font-size: 20px;
      color:crimson;
      background-color:linear-gradient(#33ccff, #ff99cc);
      padding: 0;
    }

    nav li {
      display: inline-block;
      margin: 0 15px;
    }

    a {
      text-decoration: none;
      color: palevioletred;
      font-weight: bold;
      transition: 0.3s;
    }

    a:hover {
      text-decoration: underline;
      color: deeppink;
    }

    a:visited {
      color:deeppink;
    }

  

    iframe, img {
      margin: 20px;
      justify-content: center;
    }

    div {
      display:block;
      width: 60%;
      margin:auto;
      text-align:center;
      background-color: white;
      padding: 15px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      overflow: auto;
    }

    footer {
      background-color: hotpink;
      color: white;
      padding: 10px;
      margin-top: 40px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    